<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>1034803837106-746oiht3ek096mojacv6r74po86ln5ng.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.1034803837106-746oiht3ek096mojacv6r74po86ln5ng</string>
	<key>API_KEY</key>
	<string>AIzaSyBnvJeM3zmacTdfsx1g0MPc_TNhhXWLWFg</string>
	<key>GCM_SENDER_ID</key>
	<string>1034803837106</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.hydevlu.flashchat</string>
	<key>PROJECT_ID</key>
	<string>zipzoperson-1ff14</string>
	<key>STORAGE_BUCKET</key>
	<string>zipzoperson-1ff14.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:1034803837106:ios:31573652b8b6b7ed7331ab</string>
</dict>
</plist>